/* */
.modalRight{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:700px;
    height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url("../images/sale.jpg");
    
}
.closeBtn{
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    cursor: pointer;

    
}

/* .overlay_container{
    background-color:rgb(64, 141, 141);
} */

.modal-content{
    background-color:rgb(156, 204, 142);
    width: 80%;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 3px;
}

.content{
    
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin:60% 0% 20% 0%; */
    display:flex;
    justify-content:center;
   /* flex-direction: column;
    
    text-align: center;
    align-items: center;
    position:fixed;
   
    /*padding-bottom: 20px;*/
    /* transform:translate(-50%, -50%);  */
}
.modalBtn{
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:-1;
    padding:12px 24px;
}
.modalBtn>p{
    font-size: 2rem;;
}
.overlay{
    position:fixed;
    background-color: rgba(0,0,0,0.5); 
    width: 100vw;
    height: 100vh;
    /* 
   */

}

@media (max-width:952px){
   .content{
    width:340px;
    font-size: 15px;
   }
   div.modal-content{
    width:20px;
   }
}