.plans-container{
    /* margin-top:-4rem; */
    margin-top: 200px;
    /* margin-bottom: 500px; */
    min-height: 100vh;
    padding:0 2rem;
    display:flex;
    flex-direction: column;
    /* gap:4rem; */
    position:relative;
    
}
.plans{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:7rem;
}
.plan{
    display:flex;
    flex-direction: column;
    background-color: rgb(178, 178, 202);
    color:white;
    gap:2rem;
    padding: 1.5rem;
    width:18rem;
}
.plan:nth-child(2){
    background-color: rgb(156, 204, 142);
    transform:scale(1.5);
}
/*.plan>svg{
    fill:aquamarine;
    width: 2rem;
    height: 2rem;
}*/
.plan:nth-child(3){
    font-size: 1rem;
    font-weight: bold;
}
.plan:nth-child(1){
    font-size: 1rem;
    font-weight: bold;
}
.plan:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
}
.plan:nth-child(5){
 font-size: 0.8rem;
}
.features{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.feature{
    display:flex;
    align-items: center;
    gap: 1rem;
}
.feature>img{
    width:1rem;
}
.plans>:nth-child(2)>img{
fill:white;
}
.plans>:nth-child(2)>button{
    color:rgb(53, 53, 53);
    }

.stroke{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(53, 53, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}    
.programs-header>:nth-child(2){
    color: rgb(156, 204, 142);
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
 
    }
    .programs-header{
        gap: 1rem;
        padding: auto auto;
        
    }
    @media (max-width:540px){
        .plans{
            flex-direction: column;
        }
        .plan:nth-child(2){
            background-color: rgb(156, 204, 142);
            transform:scale(1.2);
        }

        .stroke{
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(53, 53, 53);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }    
        .programs-header>:nth-child(2){
            color: rgb(156, 204, 142);
            font-size: 2rem;
            font-weight: bold;
            -webkit-text-stroke-width: 1px;
            font-family: Arial, Helvetica, sans-serif;
         
            }
            .programs-header{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

    }
