.Zoom-images {

    /* height: 22vh;
    width: 100wv; */
}

.text {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}

.images-section {
    display: flex;
    height: auto;
    width: 100wv;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;



}

.card {
    width: 400px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card:hover {

    scale: .7;

    box-shadow: 20px 20px 30px;
    border-radius: 15px;



}

.card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 15px;


}


.card>a{
    text-decoration: none;
    
    font-weight: bold;
    color: black;
    
    
    

}

h2,h3 {
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    justify-content: center;

}

button {
     width: 250px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    font-size:1.4rem;
}


.headphones {
    background-image: url('../images/placa.webp');
}

.tablet {
    background-image: url('../images/turbine-about.webp');
}

.watch {
    background-image: url('../images/recycling\ energy.webp');
}

@media screen and (max-width:768px) {
    .Zoom-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .text {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;


    }

    .text h2 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .images-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: fit-content;

    }

    .card {
        width: 300px;
        height: 300px;
        margin-left: 40px;
    }
}